$GreyBG: #282a36;
$Second_Grey: #3e4150;
$Third_Grey: #555b68;
$Read_Grey: #787b86;
$Main_Blue: #1d90f5;
$Main_Yellow: #f2bf48;
$Main_Purple: #734fd6;
$Main_Pink: #ca4eaa;
$Main_Green: #48b2a2;
$Main_Red: #d34c4c;
