@import './colors';

.mainNav {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
	.leftNav {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: center;
		gap: 10px;
		.logo {
			width: 150px;
			img {
				width: 100%;
			}
		}
	}
	.middleNav {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: center;
		gap: 20px;
		p {
			color: $Read_Grey;
		}
	}
	.rightNav {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: center;
		gap: 20px;
		p {
			color: $Read_Grey;
		}
		.profile-settings {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: center;
			justify-content: center;
			gap: 20px;
			background-color: $Second_Grey;
			padding: 10px;
			border-radius: 60px;
			transition: all 0.5s ease;
			&:hover {
				padding: 10px 20px;
			}
			.profileImg {
				width: 30px;
				height: 30px;
				overflow: hidden;
				border-radius: 50%;
				cursor: pointer;
				img {
					height: 100%;
				}
			}
			.settingsIcon {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 30px;
				height: 30px;
				cursor: pointer;
				svg {
					color: $Main_Yellow;
				}
			}
		}
	}
}

.drawerBTN {
	svg {
		color: $Main_Yellow;
	}
}

.userDrawer {
	.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
		background: $Third_Grey;
		a {
			color: $Main_Yellow;
			text-decoration: none;
			width: 100%;
		}
		color: $Main_Yellow;
		svg {
			color: $Main_Yellow;
		}
	}
}
